<nav>
  <div class="site-title">
    <a href="/"><h1>Patient Portal</h1></a>
    <p>A Patient API Site</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/patient/all">All Patients</a></li>
    <li><a href="/patient/create">Create New Patient</a></li>
    <li><a href="/patient/update">Update Patient</a></li>
    <li><a href="/patient/single">Get Patient</a></li>
    <li><a href="/patient/minimumwalletform">Min Wallet Patients</a></li>
  </ul>
</nav>